<html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="container">





{% extends 'base.html' %}

{% block title %}Candidate Registration{% endblock %}

{% block content %}
<h2>Candidate Registration</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register Candidate</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock %}
